<html class="no-js" xmlns:fm="http://www.w3.org/1999/html">
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>异清轩博客友情链接</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/nprogress.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <link rel="apple-touch-icon-precomposed" href="../images/icon/icon.png">
    <link rel="shortcut icon" href="../images/icon/favicon.ico">
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/nprogress.js"></script>
    <script src="../js/jquery.lazyload.min.js"></script>

</head>

<body class="user-select">
<header class="header">
    <nav class="navbar navbar-default" id="navbar">
        <div class="container">
            <div class="header-topbar hidden-xs link-border">
                <ul class="site-nav topmenu">
                    <li><a th:href="@{/findLeaveAll}">关于杜清轩</a></li>
                    <li><a th:href="@{/findArticledetailsGXRJ}" rel="nofollow">更新日记</a></li>
                    <li><a th:href="@{/links}" rel="nofollow">友情链接</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" rel="nofollow">关注本站 <span class="caret"></span></a>
                        <ul class="dropdown-menu header-topbar-dropdown-menu">
                            <li><a data-toggle="modal" data-target="#WeChat" rel="nofollow"><i class="fa fa-weixin"></i>
                                微信</a></li>
                            <li><a data-toggle="modal" href="#" data-target="#WeChat2" rel="nofollow"><i
                                    class="fa fa-qq"></i> QQ</a></li>
                            <li><a data-toggle="modal" data-target="#areDeveloping" rel="nofollow"><i
                                    class="fa fa-rss"></i> RSS</a></li>
                        </ul>
                    </li>
                </ul>
                <a th:if="${session.user==null}" data-target="#loginModal"
                   th:href="@{/login}"
                   rel="nofollow">Hi,请登录</a>&nbsp;&nbsp;<a th:if="${session.user==null}"
                                                           th:href="@{/register}" class="register"
                                                           rel="nofollow">我要注册</a>

                <a data-toggle="modal" data-target="#loginModal" class="login" th:href="@{/login}"
                   th:if="${session.user!=null}"
                   rel="nofollow">[[${session.user.userName}]]欢迎您,来到杜清轩博客</a>&nbsp;&nbsp;
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#header-navbar" aria-expanded="false"><span class="sr-only"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <h1 class="logo hvr-bounce-in"><a href="" title=""><img src="images/logo.png" alt="">杜清轩博客</a></h1>
            </div>
            <div class="collapse navbar-collapse" id="header-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a data-cont="杜清轩首页" th:href="@{/findArticledetailsAll}">杜清轩首页</a></li>
                    <li><a th:href="@{/findArticledetailsType?tId=1&type_id=1}">后端技术</a></li>
                    <li><a th:href="@{/findArticledetailsType?tId=2&type_id=2}">前端技术</a></li>
                    <li><a th:href="@{/findArticledetailsType?tId=3&type_id=3}">杂谈</a></li>
                    <li><a th:href="@{/findArticledetailsType?tId=4&type_id=4}">程序人生</a></li>
                </ul>
                <form class="navbar-form visible-xs" action="/Search" method="post">
                    <div class="input-group">
                        <input type="text" name="keyword" class="form-control" placeholder="请输入关键字" maxlength="20"
                               autocomplete="off">
                        <span class="input-group-btn">
            <button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
            </span></div>
                </form>
            </div>
        </div>
    </nav>
</header>
<section class="container container-page">
    <div class="pageside">
        <div class="pagemenus">
            <ul class="pagemenu">
                <li><a th:href="@{/findLeaveAll}">关于杜清轩</a></li>
                <li><a th:href="@{/findArticledetailsGXRJ}">更新日记</a></li>
                <li><a th:href="@{/links}">友情链接</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <header class="article-header">
            <h1 class="article-title">友情链接</h1>
        </header>
        <ul class="plinks">
            <li><a href="http://mangoya.cn/#/Aboutme" title="" target="_blank" rel="nofollow"><img
                    src="images/icon/favicon.ico" alt="">女王Aimee博客</a></li>
            <li><a href="https://space.bilibili.com/95256449?spm_id_from=333.788.b_765f7570696e666f.1" title="" target="_blank" rel="nofollow"><img src="images/icon/favicon.ico" alt="">较好的java学习视频</a>
            </li>
            <li><a href="http://note.youdao.com/noteshare?id=64bf2c79aa21afa84d94f45ba0101cec" title="" target="_blank" rel="nofollow"><img src="images/icon/favicon.ico" alt="">个人有道云java笔记</a>
            </li>
            <li><a href="https://v.qq.com/x/cover/m441e3rjq9kwpsc/m00253deqqo.html" title="" target="_blank" rel="nofollow"><img src="images/icon/favicon.ico" alt="">一起来看斗罗大陆吗？</a>
            </li>
         <!--   <li><a href="" title="" target="_blank" rel="nofollow"><img src="images/icon/favicon.ico" alt="">异清轩</a>
            </li>
            <li><a href="" title="" target="_blank" rel="nofollow"><img src="images/icon/favicon.ico" alt="">异清轩</a>
            </li>
            <li><a href="" title="" target="_blank" rel="nofollow"><img src="images/icon/favicon.ico" alt="">异清轩</a>
            </li>
            <li><a href="" title="" target="_blank" rel="nofollow"><img src="images/icon/favicon.ico" alt="">异清轩</a>
            </li>
            <li><a href="" title="" target="_blank" rel="nofollow"><img src="images/icon/favicon.ico" alt="">异清轩</a>
            </li>-->
        </ul>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <p>杜清轩博客已萌萌哒运行30天(●'◡'●)ﾉ♥<br/>
            <br/>托管于<a href="https://github.com/zhengduqiang">GitHub</a>. &nbsp; <a href="https://www.aliyun.com/?utm_content=se_1000301881" target="_blank" rel="nofollow">阿里云 </a>
            提供静态文件云存储服务&nbsp; &nbsp;<br/>
            <br/>
        </p>
        Made with <span style="color:#ff248a;">❤</span> by 杜清轩.
    </div>
    <div id="gotop"><a class="gotop"></a></div>
</footer>
<!--微信二维码模态框-->
<div class="modal fade user-select" id="WeChat" tabindex="-1" role="dialog" aria-labelledby="WeChatModalLabel">
    <div class="modal-dialog" role="document" style="margin-top:120px;max-width:280px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="WeChatModalLabel" style="cursor:default;">微信扫一扫</h4>
            </div>
            <div class="modal-body" style="text-align:center"><img src="wx.jpg" alt="" width="250" height="250"
                                                                   style="cursor:pointer"/></div>
        </div>
    </div>
</div>
<!--QQ二维码模态框-->
<div class="modal fade user-select" id="WeChat2" tabindex="-1" role="dialog" aria-labelledby="WeChatModalLabel">
    <div class="modal-dialog" role="document" style="margin-top:120px;max-width:280px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="WeChatModalLabel" style="cursor:default;">QQ扫一扫</h4>
            </div>
            <div class="modal-body" style="text-align:center"><img src="qq.jpg" alt="" width="250" height="300"
                                                                   style="cursor:pointer"/></div>
        </div>
    </div>
</div>
<!--该功能正在日以继夜的开发中-->
<div class="modal fade user-select" id="areDeveloping" tabindex="-1" role="dialog"
     aria-labelledby="areDevelopingModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="areDevelopingModalLabel" style="cursor:default;">该功能正在日以继夜的开发中…</h4>
            </div>
            <div class="modal-body"><img src="images/baoman/baoman_01.gif" alt="深思熟虑"/>
                <p style="padding:15px 15px 15px 100px; position:absolute; top:15px; cursor:default;">
                    很抱歉，程序猿正在日以继夜的开发此功能，本程序将会在以后的版本中持续完善！</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">朕已阅</button>
            </div>
        </div>
    </div>
</div>
<div id="rightClickMenu">
    <ul class="list-group rightClickMenuList">
        <li class="list-group-item disabled">欢迎访问杜清轩博客</li>
        <li class="list-group-item"><span>IP：</span>47.115.122.11</li>
        <li class="list-group-item"><span>地址：</span>江西省抚州市</li>
        <li class="list-group-item"><span>系统：</span>Windows10</li>
        <li class="list-group-item"><span>浏览器：</span>Chrome47</li>
    </ul>
</div>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.ias.js"></script>
<script src="../js/scripts.js"></script>
</body>
</html>
