<html class="no-js" xmlns:fm="http://www.w3.org/1999/html">
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>注册界面</title>
    <link rel="stylesheet" href="../static/css/reset.css"/>
    <link rel="stylesheet" href="../static/css/common.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
</head>
<body style="background-color: #efefef;">
<div class="wrap login_wrap">
    <div class="content">
        <div class="logo"></div>
        <div class="login_box">
            <div class="login_form">
                <div class="login_title">
                    注册
                </div>
                <form action="#" method="post">
                    <div class="form_text_ipt">
                        <input name="qqEmail" class="qqEmail" type="text" placeholder="QQ邮箱">
                    </div>
                    <div class="form_text_ipt">
                        <input name="userName" class="userName" type="text" placeholder="用户名" maxlength="10">
                    </div>
                    <div class="form_text_ipt">
                        <input name="userPwd2" class="userPwd2" type="password" placeholder="密码">
                    </div>
                    <div class="form_text_ipt">
                        <input name="userPwd" class="userPwd" type="password" placeholder="重复密码">
                    </div>
                    <div class="form_btn">
                        <button type="button" id="zc">注册</button>
                    </div>
                    <div class="form_reg_btn">
                        <span>已有帐号？</span><a th:href="@{/login}">马上登录</a>
                    </div>
                </form>
                <div class="other_login">
                    <div class="left other_left">
                        <!--<span>其它登录方式</span>-->
                    </div>
                    <div class="right other_right">
                        <!--<a href="#"><i class="fa fa-qq fa-2x"></i></a>
                        <a href="#"><i class="fa fa-weixin fa-2x"></i></a>
                        <a href="#"><i class="fa fa-weibo fa-2x"></i></a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript">
    //添加用户信息
    $("#zc").click(function () {
        var userName2 = $(".userName").val();
        var userPwd2 = $(".userPwd").val();
        var userPwd22 = $(".userPwd2").val();
        var qqEmail2 = $(".qqEmail").val();
        var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
        if (!reg.test(qqEmail2)) {
            alert("邮箱格式不正确");
        } else if (userName2 == '' || userName2 == null) {
            alert("请输入用户名");
            $(".userName").focus();
        } else if (userName2.length > 10) {
            alert("用户名不能超过10位数");
            $(".userName").focus();
        } else if (userPwd2 != userPwd22) {
            alert("两次输入的密码不正确");
        } else if (userPwd2 == '' || userPwd2 == null || userPwd22 == '' || userPwd22 == null) {
            alert("请输入密码");
        } else if (userPwd2.length < 8 || userPwd22.length < 8) {
            alert("密码长度不能小于8位数");
        } else {
            $.ajax({
                url: "/addUser",
                type: "post",
                data: {
                    userName: userName2,
                    userPwd: userPwd22,
                    qqEmail: qqEmail2
                },
                dataType: "json",
                success: function (result) {
                    if (result == 1) {
                        window.location.href = "/login";
                        alert("注册成功，正在跳转登录页面");
                    }
                },
                error: function () {
                    alert("出现异常，请确定文本框内容输入正确或刷新当前页面");
                }
            });
        }
    });
</script>
</body>
</html>
